[%% LAGER Config
  {lager, [
    {log_root, "/var/log/xaptum"},
    {handlers, [
      {lager_console_backend, [{level, {{lager_log_level}} }]},
      {lager_file_backend, [{file, "{{ node_name }}.log"}, {level, {{lager_log_level}}},
        {size, 10485760}, {date, "$D0"}, {count, 5}]}
    ]}
  ]},

  {
    xaptum_client, [
    {xaptum_host, "{{ xaptum_host }}" },
    {xaptum_port, {{xaptum_port}} },
    {local_ip, "{{ local_ip }}" },
    {type, {{ type }} },
    {message_handler, {{ message_handler }} },
    {group_keys_file, "{{ group_keys_file }}"}
  ]
  }
].
