{xaptum_host, "mb.xaptum.net"}.
{xaptum_port, 443}.
{local_ip, "localhost"}.
{lager_log_level, info }.
{ erlang_cookie, "DDS0E2zADAG1mH3K"}.
{ message_handler, xaptum_dummy_message_handler}.
{ cert_file, "/root/cert.pem"}.
{ key_file, "/root/priv.pem" }.

{ipv6, "::0"}.
{dds_queue, "$rr:0"}.

{control_ipv6, "::0"}.
